[submodule "modules/utemplate"]
	path = py/modules/utemplate
	url = https://github.com/pfalcon/utemplate.git
[submodule "idf/components/esp32deets"]
	path = idf/components/esp32deets
	url = git@github.com:deets/esp32deets.git
[submodule "idf/components/u8g2"]
	path = idf/components/u8g2
	url = https://github.com/olikraus/u8g2.git
